[L%ibrary/
[T%emp/
[B%uild/
[B%uilds/
[L%ogs/
[o%bj/
[M%emoryCaptures/
UserSettings/
.ipynb_checkpoints/
*.pidb
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.swp
*.tmp
*.pdb
*.mdb
*.booproj
/[Aa%ssets/AssetStore-5.x/
